*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 100vw;
}

nav{
    display: flex; /*kolom ke row*/
    background-color: cadetblue;
    width: 100vw;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 5%;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-title a {
    color: white;
    text-decoration: none; 
}

.nav-menu a {
    color: white;
    text-decoration: none; /* menghapus garis bawah pada tautan */
    margin: 0 15px; /* menambahkan spasi antara tautan */
}

.nav-menu a:hover {
    color: lightgray;
}

section{
    min-height: 100vh;
    display: flex;
}

.main-section{
    align-items: center;
    justify-content: center;
}

.main-title{
    text-align: center;
}

.main-title h1{
    font-size: 40px;
    font-weight: normal;
}

.main-title h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: lighter;
}

.main-button{
    padding-block: 8px;
    padding-inline: 16px;
    background-color: cadetblue;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-button:hover {background-color: rgb(116, 182, 185)}

.nav-burger{
    display: none;
}

.about-us-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
}

img{
    width: 25%;
    height: 25%;
}

.about-us{
    margin-left: 10%;
}

.about-us-section h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: normal;
}

.about-us-section p{
    line-height: 140%;
}

.pricing-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5%;
}

.pricing-section h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: normal;
}

.pricing-section p{
    line-height: 140%;
}

.pricing-section .pricing{
    flex: 1;
    margin-right: 10%;
}

#pricing-table {
    flex: 1;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}

.features-section{
    padding-top: 10%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.features-title{
    text-align: center;
}

.features-title h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: normal;
}

.features-title h2{
    font-weight: lighter;
    margin-bottom: 32px;
}

#features-table{
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
}

#features-table td, #features-table th, #pricing-table td, #pricing-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#features-table tr:nth-child(even){background-color: #f2f2f2;}

#pricing-table tr:nth-child(even){background-color: #f2f2f2;}

#features-table tr:hover {background-color: #ddd;}

#pricing-table tr:hover {background-color: #ddd;}

#features-table th, #pricing-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.footer-section{
    color: white;
    width: 100%;
    min-height: 16vh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}

.footer-socmed a{
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

.footer-socmed a:hover {color: #ddd;}