<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com
<div class="p-6">
  <button class="rounded-md p-4 shadow-md mb-4 font-medium dark:text-neutral-200 text-neutral-800"
    (click)="toggleDarkMode()">
    Toggle Dark
  </button>
  <div
    class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
  >
    <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      Card title
    </h5>
    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button
      type="button"
      class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normalshadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      data-te-ripple-init
      data-te-ripple-color="light"
    >
      Button
    </button>
  </div>
</div> -->

<div>
  <nav
    class="flex bg-cyan-700 w-full justify-between py-4 px-[5%] items-center fixed top-0 shadow-md z-[9999]"
  >
    <div class="nav-title">
      <!-- <fa name="cog" animation="spin"></fa> -->
      <a href="#main-section" class="text-white"
        ><h1 class="text-2xl font-bold">Cost Projection</h1></a
      >
    </div>
    <div class="nav-menu">
      <a
        *ngFor="let item of navList"
        href={{item.link}}
        class="text-white font-medium mx-4 hover:underline"
        >{{item.name}}</a
      >

    </div>
    <button class="nav-burger md:hidden">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
  <main>
    <section
      class="main-section items-center justify-center min-h-screen flex"
      id="main-section"
    >
      <div class="main-title">
        <h1 class="text-[40px] font-semibold text-center">Cost Projection</h1>
        <h3 class="mt-4 mb-4 font-normal text-center text-lg">
          Match your requirement with our services
        </h3>
        <button
                  class="main-button block mx-auto px-3 py-2 bg-cyan-700 rounded-md text-white font-semibold shadow-md hover:bg-[#1a99b7]"
          cdkDrag
          >
          Start now
        </button>
      </div>
    </section>
    <section
      class="about-us-section items-center justify-center flex px-[5%] min-h-screen"
      id="about-us-section"
    >
      <img
        src="../../../assets/image-1.png"
        alt="picture"
        class="w-1/4 h-1/4"
        data-aos="zoom-in-up"
      />
      <div class="about-us ml-[10%]" data-aos="fade-up">
        <h1 class="mb-5 text-4xl font-semibold">About Us</h1>
        <p class="leading-[140%]">
          Welcome to Cost Projection – your easy solution for figuring out
          project costs. We're here to simplify the process of estimating
          expenses for your project. Our goal is to make it simple for
          individuals, businesses, and project managers. Just tell us about your
          project – like how complex the features are, how many pages you need,
          and how long it'll take. We use smart technology to give you accurate
          cost estimates based on real data. What makes us special is that we
          break down the costs clearly, so you know exactly where your money is
          going. Whether you're a pro or new to managing projects, Cost
          Projection is here to help you make smart financial decisions for your
          project. Join us, and let's make your project a success with clear and
          reliable cost projections!
        </p>
      </div>
    </section>
    <section
      class="pricing-section items-center justify-center flex px-[5%] min-h-screen"
      id="pricing-section"
    >
      <div class="pricing flex-1 mr-[10%]" data-aos="fade-up">
        <h1 class="mb-5 text-4xl font-semibold">Pricing</h1>
        <p class="leading-[140%]">
          Welcome to Cost Projection – your easy solution for figuring out
          project costs. We're here to simplify the process of estimating
          expenses for your project. Our goal is to make it simple for
          individuals, businesses, and project managers. Just tell us about your
          project – like how complex the features are, how many pages you need,
          and how long it'll take. We use smart technology to give you accurate
          cost estimates based on real data. What makes us special is that we
          break down the costs clearly, so you know exactly where your money is
          going. Whether you're a pro or new to managing projects, Cost
          Projection is here to help you make smart financial decisions for your
          project. Join us, and let's make your project a success with clear and
          reliable cost projections!
        </p>
      </div>
      <table
        class="flex-1 w-[100%] border-collapse shadow-sm"
        id="pricing-table"
        data-aos="zoom-in-up"
      >
        <thead>
          <tr class="bg-white even:bg-blue-100 hover:bg-blue-50">
            <th
            *ngFor="let item of cellList"
              class="border border-solid border-gray-300 p-2 text-center pt-3 pb-3 bg-cyan-700 text-white"
            >
              {{item}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pricing of pricingList"
            class="bg-white even:bg-blue-100 hover:bg-blue-50"
          >
            <td
              *ngFor="let el of pricing | keyvalue"
              class="border border-solid border-gray-300 p-2 text-center"
            >
              {{ el.value }}
            </td>
            <!-- <td class="border border-solid border-gray-300 p-2 text-center">0</td>
            <td class="border border-solid border-gray-300 p-2 text-center">-</td> -->
          </tr>
        </tbody>
      </table>
    </section>
    <section
      class="features-section items-center justify-start pt-[10%] flex-col min-h-screen"
      id="features-section"
    >
      <div class="features-title text-center" data-aos="fade-up">
        <h1 class="text-4xl mb-5 font-semibold">Define Your Features</h1>
        <h2 class="mb-8 text-lg">
          Choose the most reasonable price according to your features and then
          write it in the table.
        </h2>
      </div>
      <table
        id="features-table"
        class="mx-auto w-[80%] border-collapse shadow-sm"
        data-aos="zoom-in-up"
      >
        <thead>
          <tr class="bg-white even:bg-blue-100 hover:bg-blue-50">
            <th
            *ngFor="let item of cellList"
              class="border border-solid border-gray-300 p-2 text-center pt-3 pb-3 bg-cyan-700 text-white"
            >{{item}}
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pricing of pricingList"
          class="bg-white even:bg-blue-100 hover:bg-blue-50">
            <td *ngFor="let el of pricing | keyvalue" class="border border-solid border-gray-300 p-2 text-center">
              {{el.value}}
            </td>
        </tbody>
      </table>
    </section>
    <section
      class="footer-section w-full min-h-[16vh] text-white bg-cyan-700 flex items-center justify-between px-[5%]"
    >
      <div class="footer-title">
        <p>© 2024 Cost Projection</p>
      </div>
      <div class="footer-socmed">
        <a
          href="https://wa.me/6283848492366"
          class="text-white text-xl mx-[10px] hover:text-[#a9efff] hover:text-[22px]"
          ><fa-icon [icon]="faWhatsapp"></fa-icon></a>
        <a
          href="https://www.linkedin.com/in/lailatul-badriyah-438029217/"
          class="text-white text-xl mx-[10px] hover:text-[#a9efff] hover:text-[22px]"
          ><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a
          href="https://www.instagram.com/lailatullb/"
          class="text-white text-xl mx-[10px] hover:text-[#a9efff] hover:text-[22px]"
          ><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a
          href="https://www.youtube.com/channel/UCzGhGBg1GZqqZyXfsxV_E3A"
          class="text-white text-xl mx-[10px] hover:text-[#a9efff] hover:text-[22px]"
          ><fa-icon [icon]="faYoutube"></fa-icon></a>
      </div>
    </section>
    <section>
      <div
        class="fixed bottom-5 right-5 p-2 bg-blue-700 text-white rounded-full opacity-50 hover:opacity-100 cursor-pointer"
        (click)="scrollToTop()"
        data-aos="fade-up"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 10l7-7m0 0l7 7m-7-7v18"
          ></path>
        </svg>
      </div>
    </section>
  </main>
</div>
